# Cat Boost

### Initialization

In [3]:
import numpy as np
import pandas as pd
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

filename = "encoded_data_03_28.csv"
df = pd.read_csv(f"../DataSets/EncodedData/{filename}", sep=",", encoding="UTF-8")
df.head()

,height_in_cm,year,goals_for,goals_against,goals,assists,red_cards,yellow_cards,minutes_played,market_value_in_eur,age_at_evaluation,country_of_citizenship_encoded,sub_position_encoded,club_id_encoded,domestic_competition_id_encoded
0,184.0,2012.75,31.0,14.0,11.0,1.0,0.0,6.0,1483.0,4000000.0,35,7.483360e+06,5.677233e+06,8.444111e+06,7.840140e+06
1,184.0,2013.25,24.0,15.0,5.0,2.0,0.0,2.0,1102.0,2000000.0,35,7.483360e+06,5.677233e+06,8.444111e+06,7.840140e+06
2,184.0,2013.75,14.0,21.0,4.0,2.0,0.0,1.0,950.0,1000000.0,36,7.483360e+06,5.677233e+06,8.444111e+06,7.840140e+06
3,184.0,2014.25,24.0,22.0,4.0,3.0,0.0,1.0,1270.0,1000000.0,36,7.483360e+06,5.677233e+06,8.444111e+06,7.840140e+06
4,184.0,2014.75,31.0,18.0,4.0,3.0,0.0,2.0,496.0,1000000.0,37,7.483360e+06,5.677233e+06,8.444111e+06,7.840140e+06

In [4]:
X = df.drop(columns=['market_value_in_eur'])
y = df['market_value_in_eur']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

model = CatBoostRegressor(iterations=1000,  # Adjust hyperparameters as needed
                          learning_rate=0.2,
                          depth=8,
                          loss_function='MAPE',
                          verbose=100)

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Evaluate the model on the test set
performance = model.score(X_test, y_test)
print("Model Performance:", performance)

0:	learn: 0.7779272	total: 159ms	remaining: 2m 38s
100:	learn: 0.7727509	total: 1.69s	remaining: 15s
200:	learn: 0.7725261	total: 3.04s	remaining: 12.1s
300:	learn: 0.7725261	total: 4.11s	remaining: 9.54s
400:	learn: 0.7723074	total: 5.17s	remaining: 7.72s
500:	learn: 0.7723074	total: 6.13s	remaining: 6.1s
600:	learn: 0.7723074	total: 7.13s	remaining: 4.73s
700:	learn: 0.7723074	total: 8.11s	remaining: 3.46s
800:	learn: 0.7723074	total: 9.06s	remaining: 2.25s
900:	learn: 0.7723074	total: 10.1s	remaining: 1.1s
999:	learn: 0.7723074	total: 11.1s	remaining: 0us
Model Performance: -0.19833582955701345

In [5]:
# Predict for a single sample
sample_index = 2  # Choose the index of the sample you want to predict
sample_features = X_test.iloc[[sample_index]]  # Extract features for the chosen sample
prediction = model.predict(sample_features)  # Predict using the model

# Retrieve the corresponding true target value and de-logify it
true_value = y_test.iloc[sample_index]

# Print the sample features, the true target value, and the predicted value
print("True Target Value:", true_value)
print("Predicted Value:", prediction)

True Target Value: 750000.0
Predicted Value: [300000.]